:root{
    --bg: #ffffff;
    --bgg: #00000029;
    --bgb: #000000;
    --cb:#08A6E4;
    --cg: #A5A5A5;
    --clb:#07ACE629;
    --cr:#FB3B64;
    --cg:#55DFB4;
    --cdw:#F7F7F7;
    --clg:#E8E9ED;
    --cbb:#07ACE6;
    --clp:#F9043629;
    --cligtb:#13253B;
    --clr:#EB476E;
    --clp:#FF091129;
    --clightg:#95989A;
    --cdg:#707070;
}